<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form
                cForm
                name="form"
                #frm="ngForm"
                (ngSubmit)="frm.form.valid && onSubmit()"
                novalidate
              >
                <h1>Logowanie</h1>
                <p class="text-medium-emphasis">Zaloguj się na swoje konto</p>
                <c-input-group class="mt-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    required
                    minlength="4"
                    placeholder="Nazwa użytk. (login)"
                    name="usrnam"
                    [(ngModel)]="this.username"
                    #usrnam="ngModel"
                  />
                </c-input-group>
                <ng-container>
                  <c-alert
                    color="danger"
                    class="d-flex align-items-center"
                    *ngIf="usrnam.errors && frm.touched"
                  >
                    <div *ngIf="usrnam.errors['required']">
                      Pole jest wymagane
                    </div>
                    <div *ngIf="usrnam.errors['minlength']">
                      Login musi mieć ponad 3 znaki
                    </div>
                  </c-alert>
                </ng-container>
                <c-input-group class="mt-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Hasło"
                    type="password"
                    name="passwd"
                    [(ngModel)]="this.password"
                    required
                    minlength="6"
                    #passwd="ngModel"
                    (input)="printModel(passwd)"
                  />
                </c-input-group>
                <ng-container>
                  <c-alert
                    color="danger"
                    class="d-flex align-items-center"
                    *ngIf="passwd.errors && frm.touched"
                  >
                    <div *ngIf="passwd.errors['required']">
                      Pole jest wymagane
                    </div>
                    <div *ngIf="passwd.errors['minlength']">
                      Hasło musi mieć ponad 6 znaków
                    </div>
                  </c-alert>
                </ng-container>
                <c-row class="mt-3">
                  <c-col xs="6">
                    <button
                      cButton
                      class="px-4"
                      color="primary"
                      type="submit"
                      [disabled]="frm.invalid"
                    >
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
